# Visual Studio
.vs/
*.user
*.suo

# Build output
bin/
obj/

# NuGet
packages/
*.nupkg

# Publish profiles output
publish/

# Installer output
Installer/output/
Installer/ffmpeg/

# OS
Thumbs.db
Desktop.ini
